# virtual environment
.venv/

# environment files
.env

# macos system files
.DS_Store

# folder for all scraped data
scraping_data/

# logs of scrapers
logs/

# python cache
cache/
__pycache__

# db dump files
dump/*.dat*

# interactive maps
*.html

# computed graph
*.graphml

# download script for scraping data
scraper/download_all.sh

# binary pyton objects i.e. pre calculated routes
*.pickle
*.pkl

# openstreetmap files
*.osm.pbf

*.png
!k-modes_cost_analysis.png

tmp/

# geopackages
*.gpkg*

# files for open source routing machine
osrm/

# files for graphhopper routing service
graphhopper/

# vag-rad data files
vag-rad-data/

# rust target folder
target/
