# virtual environment
.venv/

# environment files
.env

# macos system files
.DS_Store

# folder for all scraped data
scraping_data/

# logs of scrapers
logs/

# python cache
cache/
__pycache__

# db dump files
dump/*.dat*

# interactive maps
*.html

# computed graph
*.graphml

# folder for elevation data (digital elevation model)
DEM/

# download script for scraping data
scraper/download_all.sh

# binary pyton objects i.e. pre calculated routes
*.pickle

*.png
!k-modes_cost_analysis.png

tmp/

# geopackages
*.gpkg